.question-card {
  align-self: center;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
  background-color: var(--color-grey);
  border-radius: 8px;
  max-width: 300px;
  min-height: 220px;
  z-index: 0;
  gap: 32px;
}

card > h2 {
  color: var(--color-dark);
  text-align: center;
  font-size: 1.2rem;
  margin-top: -30px;
}

.answer {
  border: 0;
  width: 200px;
  height: 40px;
  color: var(--color-white);
  background-color: var(--color-orange);
  border-radius: 8px;
}

.tags {
  list-style: none;
  display: flex;
  gap: 10px;
  padding-left: 0px;
  flex-wrap: wrap;
  justify-content: center;
}

.tag {
  padding: 10px 16px 10px 16px;
  background-color: var(--color-white);
  border: 0;
  border-radius: 10px;
}

.bookmark-icon {
  width: 30px;
  height: auto;
  position: relative;
  right: -110px;
  top: -30px;
  filter: invert(70%);
  cursor: pointer;
}

/* card > a > .selected {
  filter: invert(0%);
} */

.bookmark-icon-checked {
  filter: invert(0%);
}

card > p {
  /* display: none; */
}
