.profile-section {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  align-self: center;
  align-items: center;
  gap: 40px;
}

.user-top {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  gap: 10px;
}

.user-top > img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.user-about {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  gap: 10px;
  background-color: rgb(236, 236, 236);
  padding: 18px;
  border-radius: 10px;
}

.user-about > h3 {
  align-self: flex-start;
}

.user-about > img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.counters {
  display: flex;
  gap: 20px;
}

.counters > * {
  padding: 10px;
  color: white;
  background-color: black;
  display: flex;
  gap: 10px;
  border-radius: 10px;
}

.counters > * > img {
  width: 20px;
  filter: invert(100%);
}
